.navbar{background-color: blueviolet; padding: 10px; display: flex;  justify-content: space-between; border-radius: 40px;}
a{text-decoration: none; color: white;}
.mylistitems{list-style: none;}
.list{display: flex; gap: 30px;}
/* .mylogo{width: auto; height: 150px;} */
.mybuttons{margin-right: 40px;}
.heading{margin-left: 40px;color: white;font-size: x-large;}
button{border-radius: 100px; padding: 10px;}


