.navbar{background-color: blueviolet; padding: 10px; display: flex;  justify-content: space-between; border-radius: 40px;}
a{text-decoration: none; color: white;}
.mylistitems{list-style: none;}
.list{display: flex; gap: 30px;}
/* .mylogo{00px: auto; height: 150px;} */
.mybuttons{margin-right: 40px;}
.heading{margin-left: 40px;color: white;font-size: x-large;}
button{border-radius: 100px; padding: 10px;}
.myimage{height: 300px; width: 300px; flex: 1;}
.myimage img{height: 100%; width: auto;}
.intro{display: flex; margin-top: 40px; gap: 40px; justify-content: space-between; text-align: left; max-width: 2000px; padding: 20px;}
/* .intro{display: grid;grid-template-columns: repeat(auto-fit,minmax (300px,2fr)); gap: 20px;max-width: 1100px;} */
.myintro{flex: 1;}
.images{height: 300px; width: 300px; flex: 1;}
.images img{height: 100%; width: auto;}
body h4{font-size: 16pt;}
body p{font-size: 12pt;}
.serv{padding: 20px; text-align: center;}
.about{padding: 20px;}
main{background-color: blanchedalmond;}
.services{display: flex;gap: 60px;margin-bottom: 40px;}
.image1{height: 300px; width: 300px;}
.service{background-color: white;border-radius: 40px; padding: 20px; box-shadow: 20px 20px; display: block;margin-left: auto;margin-right: auto;text-align: center;}
.image{height:300px ; width: 300px; flex: 1;}
.image img{height: 300px; width: 300px; border-radius: 40px;}
/* .about{gap: 30px; flex-wrap: wrap; flex-direction: column; display: flex; justify-content:center ;padding: 40px;} */
.about{padding: 40px;}
.myabout{margin-bottom: 30px; gap: 40px;  display: grid; grid-template-columns: 1fr 1fr; align-items: center; max-width: fit-content; place-items: center; }
.myabouttext{background-color: white;height: 300px; padding: 30px;border-radius: 40px; box-shadow: 20px 20px;}
@media(max-width:768px){
    .intro{
        display:grid;
       grid-template-columns: 1fr;}
       .list{display: none;}
       .services{display: grid;grid-template-columns: 1fr;}
       .myabout{display: grid;grid-template-columns: 1fr;}
}
/* .servi{background-color: white; border-radius: 40px; padding:  20px; box-shadow: 20px;} */


